@media (max-width: 900px) {
    .deleteCompletedItems{
        height: 70px;
    }
    .additems{
        flex-direction: column;
    }
    .nameEditbox{
        width: 100%;
    }
    .changeNameButton{
        height: 32px;
    }

}